body {
  margin: 0;
  padding: 0;
  background: grey;
}

.page-content {
  margin: 2rem;
  position: relative;
  display: flex;
}

.calendar {
  width: 1000px;
  position: absolute;
  z-index: 2;
}

.images {
  position: absolute;
  top: 230px;
  left: 140px;
}

/*.slider {
  margin: 30px auto;
  width: 1000px;
  height: 600px;
  /*background: url(../img/Background.png) center;
  background: url(../img/Background.png);
  animation: slide 20s infinite;
}

@keyframes slide {
  25% {
    background: url(../img/Background1.png);
  }
  50% {
    background: url(../img/Background2.png);
  }
  75% {
    background: url(../img/Background3.png);
  }
  100% {
    background: url(../img/Background4.png);
  }
}*/
